/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    background-color: #dfdfdf;
}




/* Fonts */

@font-face {
    font-family: Bauhaus;
    src: url(/assets/fonts/Bauhaus_93/BAUHS93.ttf);
  }

/* Navbar */


.navbar-container {
    width: 100%;
}

nav {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr; 
}

/* Logo */
.logo {
    display: flex;
    flex-direction: row;
    grid-column: 2;
}

.item-portfolio {
    font-family: Bauhaus;
    font-size: 60px;
    color: #3937a1;
}

.item-iamtt {
    padding-left: 20px;
    font-family: Bauhaus;
    font-size: 20px;
    color: #000;

}


/* Social links */
.social-icons {
    display: flex;
    flex-direction: row;
    grid-column: 4;
    justify-content: center;
}

.item-social {
    padding: 10px;
}

.item-social-text {
    visibility: hidden;
    transition: 0.5s;
    opacity: 0;
}

.item-social:hover .item-social-text {
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
}

.underscore {
    background-color: #000;
    width: 55px;
    height: 5px;
    margin-top: 10px;
}

.open {
    font-family: 'Franklin Gothic Heavy';
    font-size: 22px;
}

/* Hamburger icon */

.hamburger {
    grid-column: 5;
    padding: 10px;
    cursor: pointer;

}

.hamburger > img {
    width: 55px;
    height: 30px;
    
}

.hamburger-text {
    background-color: #000;
    height: 13px;
    width: 54px;
    margin-left: 1px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    
}

.hamburger:hover .hamburger-text {
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
}

/* Hamburger Menu & content */

.hamburger-menu {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: #dfdfdf;
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    display: none;
 
}

.menu-content {
    align-self: center;
}

.menu-content a:visited {
    color: #000;
}

.menu-content a:hover {
    color: #3937a1;
}

.menu-content-text {
    padding: 10px;
    font-family: Bauhaus;
    text-align: center;
    font-size: 80px;
}

.escape > img {
    cursor: pointer;
}

/* For mobile devices, hiding social icons and adjusting font-sizes */

@media (max-width: 414px) {
    .item-social {
        display: none;
    }
    .item-portfolio {
        font-size: 40px;
    }
    .item-iamtt {
        font-size: 15px;
    }
    .menu-content-text {
        font-size: 50px;
    }
}