/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #dfdfdf;
}

/* Fonts */

@font-face {
    font-family: Bauhaus;
    src: url(/assets/fonts/Bauhaus_93/BAUHS93.ttf);
  }

/* Navbar */


.navbar-container {
    width: 100%;
}

nav {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr 
}

/* Logo */
.logo {
    display: flex;
    flex-direction: row;
    grid-column: 2;
}

.item-portfolio {
    font-family: Bauhaus;
    font-size: 60px;
    color: #3937a1;
}

.item-iamtt {
    padding-left: 20px;
    font-family: Bauhaus;
    font-size: 20px;
    color: #000;
}


/* Social links */
.social-icons {
    display: flex;
    flex-direction: row;
    grid-column: 4;
}

.item-social {
    padding: 10px;
}

.item-social-text {
    visibility: hidden;
}

.item-social-text-show {
    visibility: visible;
}

.underscore {
    background-color: #000;
    width: 55px;
    height: 5px;
    margin-top: 10px;
}

.open {
    font-family: 'Franklin Gothic Heavy';
    font-size: 22px;
}

.hamburger {
    grid-column: 5;
    padding: 10px;
}

.hamburger > img {
    width: 52px;
    height: 30px;
}

.hamburger-text {
    background-color: #000;
    height: 13px;
    width: 51px;
    margin-left: 1px;
    visibility: hidden;

}

.hamburger-text-show {
    visibility: visible;

}


















